.App {
  background-color: #F5F6FA;
}

.App-logo {
  text-align: left;
  margin-left: 6%;
  height: 100px;
}

.App-header {
  text-align: left;
  background-color: #3486F8;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.App-homepage {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
